.content {
  max-width: 614px;
  
  @screen mdMax {
    @apply text-center;
    max-width: 306px;
    padding-bottom: 33vh; } }
  
.illo {
  @apply absolute;
  z-index: -1;
  transform-origin: center center; }

.eraser {
  @screen mdMax {
    transform: rotate(-90deg);
    top: 258px;
    right: -16px; }
  
  @screen md {
    transform: rotate(-45deg);
    top: 374px;
    right: 464px; } }

.figma {
  transform: rotate(-15deg);
  top: 622px;
  right: 662px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.illustrator {
  transform: rotate(15deg);
  top: 890px;
  right: 208px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.pen {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: 536px;
    left: -88px; }
  
  @screen md {
    top: 682px;
    right: 372px; } }

.palomino {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -426px;
    left: -178px; }
  
  @screen md {
    top: 11px;
    right: 268px; } }

.pencil {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -644px;
    left: -188px; }
  
  @screen md {
    top: 174px;
    right: 50px; } }

.phone {
  transform: rotate(-45deg);
  top: -364px;
  right: -296px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.ruler {  
  @screen mdMax {
    transform: rotate(60deg);
    top: -298px;
    left: -402px; }
  
  @screen md {
    transform: rotate(30deg);
    top: -24px;
    right: 664px; } }

.sharpener {
  @screen mdMax {
    transform: rotate(-60deg);
    top: 506px;
    right: -64px; }
  
  @screen md {
    transform: rotate(-30deg);
    top: 648px;
    right: -166px; } }

.terminal {
  transform: rotate(-15deg);
  top: 882px;
  right: 528px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }