.container {
  height: calc(100vh - var(--tabbar-height));
  
  @screen md {
    @apply h-screen; } }

.content {
  max-width: 614px;
  grid-column: content-start / -1;
  
  @screen mdMax {
    @apply text-center pb-16;
    grid-column: content; } }
  
.illo {
  @apply absolute;
  z-index: 1;
  transform-origin: center center; }

.eraser {
  @screen mdMax {
    transform: rotate(-90deg);
    top: 258px;
    right: -16px; }
  
  @screen md {
    transform: rotate(-45deg);
    top: 716px;
    right: 1024px; } }

.figma {
  transform: rotate(-15deg);
  top: 418px;
  right: 876px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.illustrator {
  transform: rotate(15deg);
  top: 694px;
  right: 710px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.pen {
  transform: rotate(-45deg);
  
  @screen mdMax {
    top: 536px;
    left: -88px; }
  
  @screen md {
    top: 64px;
    right: 838px; } }

.palomino {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -426px;
    left: -178px; }
  
  @screen md {
    top: 220px;
    right: 502px; } }

.pencil {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -644px;
    left: -188px; }
  
  @screen md {
    top: 354px;
    right: 254px; } }

.phone {
  transform: rotate(-60deg);
  top: -342px;
  right: -40px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.ruler {  
  @screen mdMax {
    transform: rotate(60deg);
    top: -298px;
    left: -402px; }
  
  @screen md {
    transform: rotate(30deg);
    top: -46px;
    right: 956px; } }

.sharpener {
  @screen mdMax {
    transform: rotate(-60deg);
    top: 506px;
    right: -64px; }
  
  @screen md {
    transform: rotate(-30deg);
    top: 582px;
    right: 120px; } }

.terminal {
  transform: rotate(-15deg);
  top: 970px;
  right: 584px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }