.container {
  grid-template-rows: repeat(3, [row] 1fr);
  height: 100vh;
  height: -webkit-fill-available;
  
  @screen mdMax {
    padding-bottom: calc(var(--tabbar-height) + (var(--spacing) * 4)); }
  
  @screen md {
    @apply h-screen; } }

.content {
  max-width: 614px;
  grid-column: content-start / -1;
  grid-row: 2;
  
  @screen mdMax {
    @apply text-center pb-16;
    grid-row: 3;
    grid-column: content; } }
  
.illo {
  @apply absolute;
  z-index: 1;
  transform-origin: center center; }

.eraser {
  @screen mdMax {
    transform: rotate(-90deg) translate3d(50%, 0, 0);
    top: 50%;
    right: -16px; }
  
  @screen md {
    transform: rotate(-45deg);
    top: 244px;
    right: 846px; } }

/*
.figma {
  transform: rotate(-15deg);
  top: 418px;
  right: 876px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.illustrator {
  transform: rotate(15deg);
  top: 694px;
  right: 710px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }
*/

.pen {  
  @screen mdMax {
    transform: rotate(-45deg);
    top: 536px;
    left: -88px; }
  
  @screen md {
    transform: rotate(-30deg);
    top: 724px;
    right: 616px; } }

.palomino {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -426px;
    left: -178px; }
  
  @screen md {
    top: -18px;
    right: 542px; } }

.pencil {
  transform: rotate(-30deg);
  
  @screen mdMax {
    top: -644px;
    left: -188px; }
  
  @screen md {
    top: 72px;
    right: 354px; } }

.phone {
  transform: rotate(-30deg);
  top: -250px;
  right: -122px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.ruler {  
  @screen mdMax {
    transform: rotate(60deg);
    top: -298px;
    left: -402px; }
  
  @screen md {
    transform: rotate(15deg);
    left: -244px;
    bottom: -80px; } }

.sharpener {  
  @screen mdMax {
    transform: rotate(-60deg);
    bottom: 0;
    right: -64px; }
  
  @screen md {
    transform: rotate(-60deg);
    top: 522px;
    right: 694px; } }

/*
.terminal {
  transform: rotate(-15deg);
  top: 970px;
  right: 584px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }
*/