/*! purgecss start ignore */
.small {
  & svg {
    @screen mdMax {
      height: auto;
      max-width: 320px; } }

  & .image {
    max-width: 414px;
    top: 68px;
    right: 28px;
    bottom: 32px;
    left: 58px;

    @screen mdMax {
      top: 40px;
      right: 18px;
      bottom: 21px;
      left: 38px; } } }

.medium {
  & svg {
    @screen mdMax {
      height: auto;
      max-width: calc(1534px / 1.75); } }

  & .image {
    max-width: 1366px;
    top: 84px;
    right: 28px;
    bottom: 32px;
    left: 108px;

    @screen mdMax {
      top: 48px;
      right: 34px;
      bottom: 32px;
      left: 62px; } } }

.container {
  @apply relative; }

.small,
.medium,
.large {
  @apply relative;

  & p {
    margin-bottom: 0; } }
/*! purgecss end ignore */
