.scroll {
  overflow-x: auto;
  /* scroll-snap-type: x proximity; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }

.scroll-offset {
  @apply pl-4;

  @screen md {
    padding-left: 7.5998263889%; } /* 1 col + 2 gutter */

  @screen xxxl {
    padding-left: calc(17.5% - 24px); } } /* 2 col (68px * 2) + 3 gutter (48 * 3) + 1 margin (56) */

.snap-start {
  scroll-snap-align: start; }
