/* fills */
.fill-currentcolor {
  fill: currentcolor; }

.fill-alternate {
  fill: none; }

.fill-shadow {
  mix-blend-mode: overlay;
  fill: var(--color-madison); }

/* opacity */
.opacity-20 {
  opacity: .2; }

.opacity-40 {
  opacity: .4; }

/* specific */
.illo {
  @apply absolute;
  z-index: 1;
  transform-origin: center center; }