.action {
  &:hover,
  &:focus {
    color: var(--color-sidecar);

    & .icon {
      transform: translate3d(4px, 2px, 0); } } }

.icon {
  position: relative;
  transition: .2s;
  transform: translate3d(0, 2px, 0); }
