.action {
  grid-row: 3;
  grid-column: content;
    
  @screen md {
    grid-column: content; }
  
  &:hover,
  &:focus {
    color: var(--color-sidecar); }
    
  &:after {
    content: "";
    height: 4px;
    background-color: var(--color-madison); } }