.project {
  @screen smMax {
    &:not(:first-of-type) {
      margin-top: calc(var(--spacing) * 4); } }
      
  @screen sm {
    align-self: start;
  
    &:nth-of-type(even) {
      margin-top: calc(var(--spacing) * 4); } } }
