/*! purgecss start ignore */
.article {
  grid-row-gap: 0;

  /* all */
  & h2 {
    font-size: var(--f1); }

  & h3 {
    font-size: var(--f2); }

  & h4 {
    font-size: var(--f3); }

  /* nested */
  & > h2 {
    margin-top: calc(var(--spacing) * 6); }

  & > h3 {
    margin-top: calc(var(--spacing) * 4); }

  & > :matches(p, ul, ol) {
    margin-top: calc(var(--spacing) * 2); }

  & :matches(h1, h2, h3, h4, h5, h6) {
    color: var(--color-melon); }

  & > :matches(h1, h2, h3, h4, h5, h6, p, ul, ol) {
    margin-bottom: 0;
    padding: 0;
    grid-column: 9 / content-end; }

  & > p + p,
  & > h3 + p {
    margin-top: calc(var(--spacing) * 2); }

  & li:not(:last-child) {
    margin-bottom: var(--spacing); } }
/*! purgecss end ignore */
