/*! purgecss start ignore */
.article {
  grid-row-gap: 0;
  margin-top: -12.5vh;

  @screen lg {
    margin-top: -25vh; }

  /* all */
  & h2 {
    font-size: clamp(var(--f2), 5vw, var(--f1)); }

  & h3 {
    font-size: clamp(var(--f3), 3.5vw, var(--f2)); }

  & h4 {
    font-size: clamp(var(--f4), 2.5vw, var(--f3)); }

  /* nested */
  & > h2 {
    margin-top: calc(var(--spacing) * 12); }

  & > h3 {
    margin-top: calc(var(--spacing) * 4); }

  & > :matches(p, ul, ol) {
    margin-top: calc(var(--spacing) * 2); }

  & :matches(h1, h2, h3, h4, h5, h6) {
    color: var(--color-melon); }

  & > :matches(h1, h2, h3, h4, h5, h6, p, ul, ol) {
    margin-bottom: 0;
    padding: 0;
    grid-column: content;

    @screen lg {
      grid-column: 5 / content-end; }

    @screen xl {
      grid-column: 7 / content-end; }

    @screen xxxl {
      grid-column: 9 / content-end; } }

  & > p + p,
  & > h3 + p {
    margin-top: calc(var(--spacing) * 2); }

  & li:not(:last-child) {
    margin-bottom: var(--spacing); } }

.introduction p:not(:last-child) {
  margin-bottom: calc(var(--spacing) * 2); }
/*! purgecss end ignore */
