.content {
  max-width: 626px;
  grid-column: content-start / -1;
  grid-row: 2;
}

.ruler {
  transform: rotate(-15deg);
  right: -48px;
  bottom: -272px;

  @screen sm {
    right: -440px;
    bottom: -182px;
  }

  @screen md {
    right: auto;
    bottom: -96px;
    left: 22vw;
  }

  @screen lg {
    bottom: -168px;
  }

  @screen xl {
    bottom: -120px;
    left: calc(100% - 240px);
  }
}
