.content {
  max-width: 664px;
  grid-column: content-start / -1;
  grid-row: 2; }

.ruler {
  transform: rotate(-15deg);
  bottom: -132px;

  @screen md {
    bottom: -96px;
    left: 22vw; }

  @screen lg {
    bottom: -168px; }

  @screen xl {
    bottom: -88px;
    left: calc(100% - 240px); } }
