.content {
  grid-column: content;

  @screen md {
    grid-column: content-start / 10; }

  @screen xl {
    grid-column: content-start / 9; }

  @screen xxxl {
    grid-column: content-start / 10; } }

.image {
  grid-column: content;
  height: 100%;

  @screen mdMax {
    height: 400px; }

  @screen md {
    grid-column: 10 / content-end; }

  @screen lg {
    grid-column: 9 / content-end; }

  @screen xxxl {
    grid-column: 10 / content-end; } }

.title {
  width: clamp(256px, 100%, 484px); }

/**
 * illustrations
 */
.figma {
  transform: rotate(-15deg) translate3d(0, -50%, 0);
  bottom: -88px;
  right: 0;

  @screen md {
    top: 50%;
    right: 0; } }

.illustrator {
  transform: rotate(15deg) translate3d(-50%, 0, 0);
  top: 192px;
  right: calc(20% + 48px);

  @screen md {
    top: 0;
    left: 26%; }

  @screen xl {
    left: 58%; } }

.pen {
  transform: rotate(-30deg);

  @screen md {
    bottom: 6%;
    left: 12%; }

  @screen xl {
    bottom: -8%;
    left: 15%; } }

.safari {
  @screen lgMax {
    top: 100%;
    right: 0; }

  @screen mdMax {
    top: -72px;
    right: 24px; }

  @screen xsMax {
    right: 0; }

  @screen lg {
    bottom: -50%;
    left: 48%; }

  @screen xl {
    bottom: -20%; } }

.terminal {
  transform: rotate(15deg);

  @screen xl {
    top: 0;
    left: 0; } }
