.container {}

.content {
  @screen md {
    grid-column: content-start / 10; } }

.image {
  grid-column: 10 / content-end;
  height: 100%;

  @screen md {
    grid-column: 10 / content-end; } }

.title {
  width: clamp(256px, 100%, 484px); }

/**
 * Illustrations
 */
.figma {
  transform: rotate(-15deg) translate3d(0, -50%, 0);
  top: 50%;
  right: 0; }

.illustrator {
  transform: rotate(15deg) translate3d(-50%, 0, 0);
  top: 0;
  left: 58%; }

.pen {
  transform: rotate(-30deg);
  bottom: -8%;
  left: 15%; }

.safari {
  bottom: -20%;
  left: 48%; }

.terminal {
  transform: rotate(15deg);
  top: 0;
  left: 0; }
