.about {}

.pen {  
  @screen mdMax {
    transform: rotate(-45deg);
    top: 536px;
    left: -88px; }
  
  @screen md {
    transform: rotate(-30deg);
    top: 0;
    right: 0; } }

.figma {
  transform: rotate(-15deg);
  top: 418px;
  right: 876px;
  
  @screen mdMax {
    display: none; }
  
  @screen md {
    display: block; } }

.terminal {
  transform: rotate(-15deg);
  top: -50%;
  right: 0;
  
  @screen mdMax {
    display: none; }
  
  @screen md { } }