.logo {
  grid-column: content-start / 3;

  @screen sm {
    grid-column: content-start / 4; }

  @screen lg {
    grid-column: content-start / 6; } }

.beta {
  border-radius: 20px;
  padding: 1px 8px 0 17px;
  line-height: 18px;
  height: 18px;
  
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--color-tumbleweed);
    width: 6px;
    height: 6px;
    border-radius: var(--spacing); } }