/* clip-path: url(../../images/squircle.svg#tabbar); */
.tabbar {
  padding: 0 calc(var(--spacing) * 2);
  backdrop-filter: blur(12px);
  border-radius: 32px 32px 0 0;
  background-color: rgba(var(--color-prussian-rgb), .9); }

.link {
  padding: calc(var(--spacing) * 2.25) 0 calc(var(--spacing) * 1.25);

  & > svg {
    margin-bottom: calc(var(--spacing) / 4); } }
