:root {
  /**
   * colour
   */
  --color-madison: #2A3C51;
  --color-spruce: #364E51;
  --color-gold: #D89F31;
  --color-feldspar: #F3DFC1;
  --color-seagull: #7DB8CA;
  --color-thulian: #DC77A8;
  --color-tumbleweed: #DDA985;
  --color-blanc: #DBD4BF;
  --color-sidecar: #F3DFC1;
  --color-pearl: #F4ECEB;
  
  /**
   * fonts
   */
  --font-display: alverata, sans-serif;
  --font-body: gira-sans, sans-serif;
  
  /**
   * spacing
   */
  --spacing: 8px;
  --grid-container: 1920px;
  --grid-gap: 32px;
  --grid-gap-percentage: calc((var(--grid-gap) / var(--grid-container)) * 100);
  /* (((1920 - (32 * 15)) / 16) / 1920) * 100 */
  --grid-column-width: 90px;
  --grid-column-width-percentage: calc((90px / var(--grid-container)) * 100);
  
  --grid-contain: calc((((90 * 2) + (32 * 2)) / 1920) * 100%);
}