:root {
  /**
   * colour
   */
  --color-madison: #2A3C51;
  --color-spruce: #364E51;
  --color-gold: #D89F31;
  --color-feldspar: #F3DFC1;
  --color-seagull: #7DB8CA;
  --color-thulian: #DC77A8;
  --color-blanc: #DBD4BF;
  --color-sidecar: #F3DFC1;
  --color-pearl: #F4ECEB;
  
  /**
   * fonts
   */
  --font-display: alverata, sans-serif;
  --font-body: gira-sans, sans-serif;
  
  /**
   * spacing
   */
  --spacing-base: 8px;
  --grid-gap: calc(var(--spacing-base * 4));
  /* (((1920 - (32 * 15)) / 16) / 1920) * 100 */
  --grid-column-width: 4.6875%;
}