:root {
  /**
   * colour
   */
  --color-madison: #2A3C51;
  --color-spruce: #364E51;
  --color-gold: #D89F31;
  --color-feldspar: #F3DFC1;
  --color-melon: #F9C6BB;
  --color-remy: #F9E0D9;
  --color-pearl: #F4ECEB;
  --color-seagull: #7DB8CA;
  --color-thulian: #DC77A8;
  --color-tumbleweed: #DDA985;
  --color-blanc: #DBD4BF;
  --color-sidecar: #F3DFC1;
  
  /**
   * fonts
   */
  --font-display: alverata, sans-serif;
  --font-body: gira-sans, sans-serif;
  
  /**
   * spacing
   */
  --spacing: 8px;
  
  /**
   * grid
   */
  --grid-container: 1920px;
  --grid-gutter: 32px;
  --grid-gap: 32px;
  --grid: [container-start] repeat(2, 1fr) [content-start] repeat(12, 1fr) [content-end] repeat(2, 1fr) [container-end];
  --grid-lg: calc(var(--spacing) * 2) [container-start] repeat(2, minmax(0, 1fr)) [content-start] repeat(12, minmax(0, 1fr)) [content-end] repeat(2, minmax(0, 1fr)) [container-end] calc(var(--spacing) * 2);
  --grid-md: var(--grid);
  --grid-sm: [container-start] calc(var(--spacing) * 2) [content-wide-start] 1fr [content-start] repeat(4, 1fr) [content-end] 1fr [content-wide-end] calc(var(--spacing) * 2) [container-end];
  
  /**
   * elements
   */
  --tabbar-height: 48px;
}