/**
 * Headings
 */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-display);
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  margin-top: 0;
  font-weight: 700; }

/**
 * General
 */
p {
  font-family: var(--font-body);
  margin: 0 0 8px; }

a {
  transition: .2s;
  text-decoration: none;
  color: inherit;

  /* Normalize */
  text-decoration-skip-ink: auto;

  &:active,
  &:hover {
    outline: 0; } }

/**
 * General
 */
address { font-style: normal; }